# 服務配置
PORT = 7943 # 後端端口

INCLUDE_TIMESTAMP = false #使否要記錄時間戳

NODE_ENV = '' # 開發環境

JWT_SECRET = ''

# MongoDB 配置
MONGO_DB_NAME = "whispertales"
MONGO_DB_Connect = "mongodb://admin:p%40ssw0rd123@localhost:27017/whispertales?authSource=admin"


# OpenAI API
OPENAI_API_KEY=your-openai-api-key

# Google Cloud API
GOOGLE_TRANSLATE_API_KEY=your-google-translate-api-key

# 其他 API
MAKE_ZHUYIN_API=http://localhost:8000/make_zhuyin

# 應用配置
NODE_ENV=production
PORT=7943
